aside.logo {
    background-color: var(--bg-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    margin-bottom: 21px;
    width: 100%
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}